body {
  background: #131827;
}

nav {
  background: #242938;
}

.container {
  width: 1280px;
  margin: 0 auto;
}

table {
  background: #242938;
  border-radius: 8px;
  width: 1136px;
  margin: 0 auto;
  padding: 24px 0;
  border-spacing: 0 8px;
}
table th {
  text-align: right;
}
table tr {
  position: relative;
  height: 60px;
}
table tr:last-child {
  margin-bottom: 0;
}
table tr::after {
  content: "";
  display: block;
  height: 1px;
  width: 1072px;
  background-color: #131827;
  position: absolute;
  bottom: -1px;
  bottom: -8px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
table td {
  vertical-align: middle;
}
table #image {
  width: 96px;
}
table #name {
  text-align: left;
  width: 288px;
}
table #count {
  width: 144px;
}
table #init-price, table #current-price, table #i-profit {
  width: 160px;
}
table tbody .item td {
  text-align: right;
}
table tbody .item #item-name {
  text-align: left;
}
table tbody .item #item-img {
  text-align: left;
  padding-left: 32px;
}
table tbody .item #item-img img {
  width: 48px;
}
table tbody .item #profit, table tbody .item #loss {
  padding-right: 32px;
}
table tbody .item:hover {
  background: #2E3342;
}

#profit {
  color: #5CA938;
}

#loss {
  color: #D2574F;
}